# Python cache files
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
env/
.venv/

# Environment variables
.env

# Machine Learning models & weights
*.h5
*.pth
*.onnx
*.tflite

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Streamlit config
.streamlit/

# IDE/editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db